{{ ansible_managed | comment }}
[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart={{ mbsync_bin_path }} {{ mbsync_systemd_service_cmd_args | default([]) | join(' ') }}

[Install]
WantedBy=multi-user.target
